


@media (max-width: 780px) {
  .display-container {
    display: none;
  }
  .info-card {
    width: 100%;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 10;
  }
  .main-card-container, .main-card-container-content {
    border-radius: 0px;
  }
  .calculator-btn {
    width: 100%;
  }
}
@media (min-width: 780px) {
  .responsive-card {
    display: none;
  }
}
